<h2>registration</h2>
<p>Set username and password</p>

<form {{action 'register' on='submit'}}>
  {{input value=login placeholder='Login'}}<br>
  {{input value=password placeholder='Password' type='password'}}<br>
  <button type="submit">Login</button>
</form>