<div class = {{currentBg}} >
	{{bg-triger hovered = 'choseCar' class = "trigger_l"}}
	{{bg-triger hovered = 'choseLeg' class = "trigger_r"}}

	<div class="btn btn-info to_bot_l myButton ">
		{{#link-to 'about'}}
			DRIVER
		{{/link-to}}
	</div>
	<div class="btn btn-info to_bot_r myButton ">
		{{#link-to 'about'}}
			pedestrian
		{{/link-to}}
	</div>
</div>